<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.wdjava.mapper.WdInsertMapper">


    <insert id="insertStudentInfo" parameterType="com.cskaoyan.wdjava.bean.WdStudentInsert">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into wdjava_student_info_t (
                    stu_name,
                    isLeader,
                    id_no,
                    start_term_id,
                    current_term_id,
                    mobile,
                    master,
                    birthday,
                    pic,
                    gender,
                    school,
                    major,
                    graduate_year,
                    comment,
                    add_time
        )
        values (
                #{name,jdbcType=VARCHAR},
                #{isLeader,jdbcType=INTEGER},
                #{idNo,jdbcType=VARCHAR},
                #{startTermId,jdbcType=INTEGER},
                #{currentTermId,jdbcType=INTEGER},
                #{mobile,jdbcType=VARCHAR},
                #{master,jdbcType=INTEGER},
                #{birthday,jdbcType=DATE},
                #{imgUrl,jdbcType=VARCHAR},
                #{gender,jdbcType=VARCHAR},
                #{school,jdbcType=VARCHAR},
                #{major,jdbcType=VARCHAR},
                #{graduateYear,jdbcType=INTEGER},
                #{comment,jdbcType=VARCHAR},
                now()
        )
    </insert>

    <insert id="insertSeatArrange" parameterType="com.cskaoyan.wdjava.bean.WdStudentInsert">
        insert into wdjava_seat_arrange_t  (
        sid,
        positionId,
        `row`,
        `column`
        )
        values (
        #{id,jdbcType=INTEGER},
        #{positionId,jdbcType=INTEGER},
        #{row,jdbcType=INTEGER},
        #{column,jdbcType=INTEGER}
        )
    </insert>

    <update id="updateStudentMessage" parameterType="com.cskaoyan.wdjava.bean.WdStudentInsert">
        update wdjava_student_info_t
        set
                    stu_name = #{name,jdbcType=VARCHAR},
                    isLeader =  #{isLeader,jdbcType=INTEGER},
                    id_no =  #{idNo,jdbcType=VARCHAR},
                    start_term_id = #{startTermId,jdbcType=INTEGER},
                    current_term_id =  #{currentTermId,jdbcType=INTEGER},
                    mobile = #{mobile,jdbcType=VARCHAR},
                    master = #{master,jdbcType=INTEGER},
                    birthday = #{birthday,jdbcType=DATE},
                    pic = #{imgUrl,jdbcType=VARCHAR},
                    gender =  #{gender,jdbcType=VARCHAR},
                    school =  #{school,jdbcType=VARCHAR},
                    major = #{major,jdbcType=VARCHAR},
                    graduate_year = #{graduateYear,jdbcType=INTEGER},
                    comment = #{comment,jdbcType=VARCHAR},
                    update_time =  now()
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="updateStudentMessageSeatArrange" parameterType="com.cskaoyan.wdjava.bean.WdStudentInsert">
        update wdjava_seat_arrange_t
        set
        positionId = #{positionId,jdbcType=INTEGER},
        `row` = #{row,jdbcType=INTEGER},
        `column` = #{column,jdbcType=INTEGER}
        where sid = #{id,jdbcType=INTEGER},
    </update>
</mapper>